#table_students{
   border-collapse: collapse;
    display: table;
}

#saveChangesButton{
    margin: 20px;
}

.table-header, .row-number{
    background-color: #FBA37E;
}

.row, .head-row{
    display: table-row;
}

.row-number, .table-data, .table-header{
    display: table-cell;
    border: 1px solid black;
}

.row-number, .num{
    max-width: 40px;
    min-width: 25px;
    text-align: center;
}

.table-data{
    min-width: 100px;
}

.table-data:focus{
    border: 1px solid #F0672D;
    background-color: #FCDCCF;
}

.active-row{
    border: 2px solid darkred;
    background-color: palevioletred;
}

button{
    width: 150px;
    height: 50px;
    font-size: large;
    background-color: #DC6F41;
    border-radius: 10px;
    margin: 20px;
}